{% extends "base.html" %}

<title>{% block title %}Clinic{% endblock title %}</title>
{% block content %}
<body>
  <h1 class="mb-4 text-center">Please, Book Your Appointment!</h1>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-3 col-lg-4">
        <form class="p-4 border rounded shadow" action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Your Name:</label>
            <input
              id="name"
              class="form-control"
              type="text"
              name="name"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Your Email:</label>
            <input
              id="email"
              class="form-control"
              type="email"
              name="email"
              placeholder="name@example.com"
              required
            />
          </div>
          <div class="mb-3">
            <label for="mobile_number" class="form-label"
              >Your Mobile Number:</label
            >
            <input
              id="mobile_number"
              class="form-control"
              type="tel"
              name="mobile_number"
              placeholder="Your Phone Number"
              required
            />
          </div>
          <div class="mb-3">
            <label for="doctor" class="form-label">Doctor For:</label>
            <select id="doctor" class="form-select" name="doctor" required>
              <option value="">Select Doctor</option>
              <option value="cosmotologists">Cosmetologist</option>
              <option value="trichologist">Trichologist</option>
              <option value="physician">Physician</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label"
              >Your Date for Appointment:</label
            >
            <input
              class="form-control"
              type="date"
              id="date"
              name="date"
              min="{{ today }}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Please select time:</label>
            <input
              class="form-control"
              type="time"
              id="time"
              name="time"
              required
            />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary w-100">
              Book Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock content %}
</body>
